<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Project Dream Team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Project Dream Team</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                  {% if current_user.role == 'admin' %}
                    <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                    <!--<li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>-->
                    <li><a href="{{ url_for('admin.list_schools') }}">Schools</a></li>
                    <!--<li><a href="{{ url_for('admin.list_employees') }}">Employees</a></li>-->
                    <li><a href="{{ url_for('admin.post_broadcast') }}">Broadcast</a></li>
                    <li><a href="{{ url_for('home.view_community_broadcast') }}">Community Broadcast</a></li>
                    <li><a href="{{ url_for('admin.post_message') }}">Send Message</a></li>
                    <li><a href="{{ url_for('home.view_messages') }}">Inbox</a></li>
                  {% elif current_user.role == 'student' %}
                    <li><a href="{{ url_for('home.student_dashboard') }}">StudentDashboard</a></li>
                  {% elif current_user.role == 'teacher' %}
                    <li><a href="{{ url_for('home.teacher_dashboard') }}">Teacher Dashboard</a></li>
                    <li><a href="{{ url_for('teacher.view_queries') }}">Queries</a></li>
                    <li><a href="{{ url_for('home.view_school_broadcast') }}">View School Broadcast</a></li>
                    <li><a href="{{ url_for('home.view_community_broadcast') }}">View Community Broadcast</a></li>
                  {% elif current_user.role == 'staff' %}
                    <li><a href="{{ url_for('home.staff_dashboard') }}">Staff Dashboard</a></li>
                    <li><a href="{{ url_for('home.view_school_broadcast') }}">School Broadcast</a></li>
                    <li><a href="{{ url_for('home.view_community_broadcast') }}">Community Broadcast</a></li>
                  {% elif current_user.role == 'moderator' %}
                    <li><a href="{{ url_for('home.moderator_dashboard') }}">Moderator Dashboard</a></li>
				  {% elif current_user.role == 'parent' %}
                    <li><a href="{{ url_for('home.parent_dashboard') }}">Parent Dashboard</a></li>
				  {% endif %}
                  <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                  <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.username }}!</a></li>
                {% else %}
                  <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                  <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                  <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
              </ul>
          </div>
        </div>
      </nav>
      <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <ul class="list-inline">
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  </ul>
                    <p class="copyright text-muted small">Copyright © 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
