<!-- app/templates/admin/departments/department.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_member %}
        Add Member
    {% else %}
        Edit Member
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
        <div class="center">
            {% if add_member %}
                <h1>Add Memeber</h1>
            {% else %}
                <h1>Edit Member</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
</div>
{% endblock %}
